{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Main Menu</h1>
        <br>
        <table style="margin: auto;width:550px;" class="classForm">
            <tr><th>Students Menu</th></tr>
            <tr><td style="text-align: center"><a href='/students_all'>Print All Students</a></td></tr>
            <tr><td style="text-align: center"><a href='/students_search'>Search Students by Name</a></td></tr>
        </table>
        <br>
        <table style="margin: auto;width:550px;" class="classForm">
            <tr><th>Course Menu</th></tr>
            <tr><td style="text-align: center"><a href='/courses_all'>Print All Courses</a></td></tr>
            <tr><td style="text-align: center"><a href='/courses_search'>Search Courses by Subject</a></td></tr>
        </table>
    </div>
    <br><br>
{% endblock %}