<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI3920 - Lab #6 - DB Access</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>
{% block content %}{% endblock %}

<br>
<table style="width: 100%;border-spacing: 0; padding: 0;vertical-align: top; border-top:1px solid #7EA0E9;">
<tr >
<td style="width:80%; text-align: center">
    <a href="https://www.jpastorino.com/teaching/csci3920_fall2019" target="_blank">&copy; 2020. CSCI3920 -
        Advanced Programming w/Java and Python - University of Colorado - Denver. All rights reserved. </a></td>
</tr></table>
</body>
</html>
